<h1>Simple Forms</h1>
<p>A series of simple AJAX forms with various options enabled.</p>

<div class="form-example">
  <p>The most basic Ajax form, explicit URL given.</p>
  <%= form_tag( '/pages/simple_forms', remote: true ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>The most basic Ajax form, action specified.</p>
  <%= form_tag( { action: :simple_forms }, remote: true ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>The most basic Ajax form, controller and action specified.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms }, remote: true ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form with that sends a <code>get</code> request instead of a <code>post</code> request.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms }, remote: true, method: :get ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic <code>get</code> request Ajax form that explicitly requests a <code>json</code> response.</p>
  <%= form_tag( '/pages/simple_forms.json', remote: true, method: :get ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic <code>get</code> request Ajax form with <code>json</code> specified as the response format.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic <code>get</code> request Ajax form with <code>xml</code> specified as the response format.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :xml }, remote: true, method: :get ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form (<code>get</code>, <code>json</code>) with a class attribute specified.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get, class: :formtastic ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form (<code>get</code>, <code>json</code>) with multiple class attributes specified.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get, class: [:formtastic, :responsively] ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form (<code>get</code>, <code>json</code>) with an id attribute specified.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get, id: "single-id-form" ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form (<code>get</code>, <code>json</code>) with multiple id attributes specified.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get, id: "multi-id-form weird-form" ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form (<code>get</code>, <code>json</code>) with a role attribute specified.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get, role: :form ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="form-example">
  <p>A basic Ajax form (<code>get</code>, <code>json</code>) with all the things.</p>
  <%= form_tag( { controller: :pages, action: :simple_forms, format: :json }, remote: true, method: :get, class: :formtastic, id: :form1337, role: :form ) do %>
    <%= text_field_tag 'search_field', "" %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>
